#root {
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
}

#articles-area {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    display: grid;
    justify-content: center;
}

#article-alert-error {
    width: 50%;
    margin: auto;
}

#article-btn {
    width: 50%;
    margin: auto auto 5% auto;
}

#articles-header {
    padding: 1%;
}
